<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="forms">AirBnb Data</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= render 'filters' %>
    </div>
    <div class="col-lg-8">
      <h2> Results</h2>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Property Type</th>
          <th>Room Type</th>
          <th>Min. Nights</th>
          <th>Location</th>
          <th>Rating</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
        <% @air_bnb_filter.bnbs.each do |bnb| %>
            <tr>
              <td><%= link_to(bnb.name, bnb.listing_url) %></td>
              <td><%= bnb.property_type_name %></td>
              <td><%= bnb.room_type_name %></td>
              <td><%= bnb.minimum_nights %></td>
              <td><%= bnb.smart_location %></td>
              <td><%= safe_p bnb.review_scores_rating %></td>
              <td><%= bnb.latitude %></td>
              <td><%= bnb.longitude %></td>
            </tr>
        <% end %>
      </table>
      <%= paginate(@air_bnb_filter.bnbs) %>


    </div>
  </div>
</div>