<div class="well bs-component">
  <%= form_tag dwellings_path, method: :get, class: 'form-horizontal' do %>
      <fieldset>
        <legend>Filter results</legend>
        <div class="form-group">
          <%= label_tag :boro, 'Neighbourhood', class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= select_tag :boro,
                           options_for_select(
                               @mdr_filter.boros,
                               params[:boro]
                           ), include_blank: 'All',
                           class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :situation, 'Situation', class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= select_tag :situation,
                           options_for_select(
                               @mdr_filter.situations,
                               params[:situation]
                           ), include_blank: 'All',
                           class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-primary">Filter</button>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>